
{{!-- Customize CSS--}}
<link rel="stylesheet" type="text/css" href="../assets/css/display-notes.css">

<body>
  <div class="notes-container">
    <div class="row">
      {{#each notesDisplay}}
        <div class="notesDisplay col-3">
          <h5>{{title}}</h5>
          <img class="eachPic" src="../uploads/{{imagePath}}" alt="{{title}}">
        </div>
      {{/each}}
    </div>
  </div>

</body>