.navbar-brand{
    height: 100px;
    background-color: #efffcc;
    border: #efffcc 2pt solid;
    border-radius: 2pt; 
    padding: 0px 8px;

}
.navbar{
    background-color:  #008000;
    z-index: 80;
}
a{
    color:#fff;
    transition: all 0.8s ease;
}
a:hover{
    color: #008000;
    background-color: #efffcc;
}