 {{!-- Customize CSS--}}
<link rel="stylesheet" type="text/css" href="../../css/create-form.css">



<body>
    <div id="create-banner" class="banner">
        <button class="banner-btn" onclick="document.getElementById('modal-wrapper').style.display='block'">
            Create
        </button>
        <h4 class="banner-text">Create your own note here.</h4>
    </div>
    {{!-- PopUp Form --}}
    <div id='modal-wrapper' class='modal'>
        <form class='modal-content animate' id='form' action="/create-new" method="post">
            <div class='imgcontainer'>
                <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
                <img src="img/1.png" alt="Avatar" class="avatar">
                <h1 style="text-align:center">Let's start!</h1>
            </div>

            <div class='input-container'>
                <input type='text' placeholder="Title of note" name='title'>
                <input type="file" placeholder="Select a picture" name='image'>
                <span id='dimension'>Dimension :</span>
                <input type="number" placeholder="Width (px)" name='width'>X
                <input type="number" placeholder="Height (px)" name='height'>
                <button type='submit'>Create New Note</button>
            </div>
        </form>
    </div>


</body>

{{!-- Customize JS --}}