<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/stylesheet.css">
  <title></title>
</head>

<body>
  <h1>Hello world - testing login</h1>
  <form method="post" action="/">
    <div>
      <label>Category</label>
      <input type="text" name="category" />
    </div>
    <div>
      <label>imgPath</label>
      <input type="text" name="imgPath" />
    </div>
    <div>
      <label>x1</label>
      <input type="text" name="x1" />
    </div>
    <div>
      <label>y1</label>
      <input type="text" name="y1" />
    </div>
    <div>
      <label>user_id</label>
      <input type="text" name="userID" />
    </div>
    <div>
      <input type="submit" value="Save" />
    </div>
  </form>

  <li class="btn">
    <a href="/logout">Log out</a>    
  </li>
</body>

</html>
